{% extends 'base.html' %}
{% block title %}{{ titulo }} — Centro Médico{% endblock %}
{% block nav_turnos %}active{% endblock %}
{% block page_title %}{{ titulo }}{% endblock %}
{% block page_subtitle %}Complete los datos del turno{% endblock %}

{% block content %}
<div style="max-width:600px;">
    <div class="card">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-grid">
                <div class="form-group full">
                    <label>Paciente *</label>
                    {{ form.paciente }}
                    {% if form.paciente.errors %}<ul class="errorlist">{% for e in form.paciente.errors %}<li>{{ e }}</li>{% endfor %}</ul>{% endif %}
                </div>
                <div class="form-group full">
                    <label>Profesional *</label>
                    {{ form.profesional }}
                    {% if form.profesional.errors %}<ul class="errorlist">{% for e in form.profesional.errors %}<li>{{ e }}</li>{% endfor %}</ul>{% endif %}
                </div>
                <div class="form-group">
                    <label>Fecha y Hora *</label>
                    {{ form.fecha_hora }}
                    {% if form.fecha_hora.errors %}<ul class="errorlist">{% for e in form.fecha_hora.errors %}<li>{{ e }}</li>{% endfor %}</ul>{% endif %}
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    {{ form.estado }}
                </div>
                <div class="form-group full">
                    <label>Motivo de consulta</label>
                    {{ form.motivo }}
                </div>
                <div class="form-group full">
                    <label>Observaciones</label>
                    {{ form.observaciones }}
                </div>
            </div>
            <div class="form-actions">
                <a href="{% url 'turnos:agenda' %}" class="btn btn-outline">Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar Turno</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
